<div class="bg-dark-green p-4 text-center">
  <h2 class="text-blush mb-0">Book your buddy</h2>
</div>
<div class="flex justify-between items-center space-x-4">

  <i class="bi bi-camera"></i>
</div>
  <div class="form" id="new_form_container">
    <%= render 'layouts/new_buddy_form' %>
  </div>

<div class="bg-blush p-4 text-center">
  <input type="button" value="Add a buddy">

</div>
