<div class="container">
  <div class="bg-dark-green p-4 text-center">
    <h2 class="text-blush mb-0">Book your buddy</h2>
  </div>

  <div class="flex justify-between items-center space-x-4">
    <div class="picture w-100 position-relative">
      <div class="position-absolute bottom-0 start-75">
        <i class="fa-solid fa-camera fs-4"></i>
      </div>
      <i class="fa-regular fa-user w-100"></i>

    </div>
  </div>
    <div class="form w-80" id="new_form_container">
      <%= render 'layouts/new_buddy_form' %>
    </div>
</div>
