<div class="bg-dark-green p-4 text-center">
  <h2 class="text-blush mb-0">Book your buddy</h2>
</div>

<div class="container">
  <h1> Add a new buddy</h1>
  <div class="form">
    <%= render 'layouts/new_buddy_form' %>
  </div>
</div>
