.big-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-buddy{
  border-radius: 5px;
  box-shadow: 0px 5px 5px #EAEAEA;
  margin-bottom: 20px;
  font-family: "Poppins", serif;
  color: #ea638c;
  font-weight: bold;
}

.card-text {
  font-family: "Poppins", serif;
  color: #ea638c;
  font-weight: lighter;
}

.card-title, .card-skill {
  font-family: "Poppins", serif;
  color: #ea638c;
  font-weight: bold;
}

.add-new-buddy-btn {
  background-color: $dark-green;
  font-family: "Poppins", serif;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #EAEAEA;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.add-new-buddy-btn :hover {
  background-color: white;
  font-family: "Poppins", serif;
  color: $dark-green;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #EAEAEA;
}

.btn-show {
  background-color: $blush;
  color: $dark-green;
  box-shadow: 0px 5px 5px #EAEAEA;
  border-radius: 5px;
  font-family: "Poppins", serif;
  font-weight: bold;

}
