.footer-big {
  position: fixed;
  bottom: 0px;
  text-decoration: none !important;
  color: $blush !important;
  font-size: 30px;
}
.footer a {
  text-decoration: none !important;
  color: $blush !important;
  font-size: 30px;
}
