// Header styles
.bg-dark-green {
  background-color: $dark-green;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #343a40;

  h2 {
    color: $blush;
    font-weight: 600;
    margin-bottom: 0;
  }
}
.bg-blush {
  background-color: $blush;
  border-radius: 5px;
}
// test2
