.input-box {
  box-shadow: 0px 5px 5px #EAEAEA;
  border-radius: 50px;
  background-color: white;
  color: $dark-green;
  font-family: Poppins;
}

.label-form {
  color: $blush;
  font-family: Poppins;
  font-weight: bold;
}
