.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Poppins", serif;
  color: #ea638c;
}

.map {
  border-radius: 5px;
  box-shadow: 0px 5px 5px #EAEAEA;
  margin-bottom: 20px;
}
