  <!-- Font Awesome CDN -->
  <%# <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> %>


<!-- app/views/shared/_footer.html.erb -->
<div class="footer-big bg-dark-green rounded p-2 w-100 text-center">
  <footer class="bg-[#1E1E1E] fixed bottom-0 w-100">
    <div class="container w-100">
      <div class="flex justify-between items-center space-x-4">
        <a href="<%= root_path %>" class="text-pink-500">
          <i class="fas fa-search"></i>
        </a>
        <a href="#" class="text-pink-500">
          <i class="fas fa-heart"></i>
        </a>

        <a href="<%= bookings_path %>" class="text-pink-500">
          <i class="fas fa-calendar"></i>
        </a>
        <a href="#" class="text-pink-500">
          <i class="fas fa-user"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
